.about-container{
    height: 90vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: whitesmoke;
    /* background-color: rgba(0, 255, 255, 0.418); */
}
.about-container>section{
    height: 50%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: rgba(255, 0, 0, 0.514); */
}
.about-container>section>h1{
    font-size: xx-large;
}
.about-container>section>h1>span,
.about-container>section>h2>span{
    color: rgb(60, 60, 253);
}