*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
    font-family: 'Arial', sans-serif;
  }
  .home-container, .about-container, .projects-container, .contact-container {
    padding: 2rem;
    text-align: center;
  }
  
  .project-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .project-card {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  